.Calculator{
    /* margin: 0px;
    padding: 0px; */
    text-align: left;
    background-color: hsl(207, 95%, 8%);
    color: #fdfffc;
    padding-left: 200px;
}
h1{
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px 2px #cc5c11;
}
input{
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
    border-style: none;

}
.btn:hover{
    background-color: yellow;
    cursor: pointer;
}
.eye{
    text-align: right;
    width: 320px;
    height: 310px;
    background: #cc5c11;
    position: absolute;
    top: 300px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}
#email{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    text-align: center;
    background-color: #ecc562;
    color: black;
    
}
button{
    text-align: center;
    font-size: xx-large;
    background-color:#e7b01b;
    border-radius: 8px;
    border-color: green;
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    margin: 20px;
    margin-right: 100px;
}
img{
    position: absolute;
    top: 120px;
    right: 50px;
}
